.Contact-section{
    padding: 112px 0px 20px 89px;
    display: flex;
}

.Contact-Question{
    padding: 55px 136px 0px 0px;
}

.Contact-Question h3{
    color: gray;
    font-weight: 300;
    font-size: x-large;
    margin: 0;
}

.Contact-Question2 h3{
    color: gray;
    font-weight: 300;
    font-size: x-large;
    margin: 0;
}

.Contact-location p{
   margin: 0;
}

.Contact-location{
    padding: 35px 0px 30px 0px;
}

.Contact-button-div{
    border: solid;
    border-width: 1px; 
    border-color: #ffdb4d;
    background-color: #ffdb4d;
    border-radius: 4px;
    display: flex;
    align-items: center;
    height: 51px;
    width: 171px;
    justify-content: center;
    cursor: pointer;
}

.Contact-icon-div{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 6px;
}

.Contact-icon-div p{
    margin: 0;
    font-size: 13px;
    font-weight: 500;
}


.Options-div-listLinksss{
    color: black;
    text-decoration: none;
    color: gray;
    font-size: small;
}


.Contact-Heading-div h4{
    font-size: 20px;
    margin: 0;
} 


.Contact-marketo-div3{
    padding: 0px 0px 0px 149px;
}

.Contact-marketo-div4{
    padding-left: 56px;
}

.Contact-marketo-div5{
    padding: 214px 29px 0px 81px;
}
.div5-button{
    
    position: absolute;
    bottom: 39px;
    font-size: x-large;
}
.Contact-marketo-div5-button{
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    height: 168px;
    width: 54px;
    border-color: #ffdb4d;
    background-color: #ffdb4d;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: space-between;
    color: white;
    text-align: right;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding-top: 27px;

}

.Contact-marketo-div5-button p{
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.contact-payments{
    width: 196px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 33px;
}

.Contact-secured-img{
    width: 202px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Contact-marketo-div3-4{
    display: flex;
}


@media only screen and (min-width:320px) and (max-width:767px) {
    .Contact-section{
        display: block;
        width: 100%;
        padding: 73px 24px 0px 24px;
    }
    

    .Contact-marketo-div{
        width: 100%;
    }

    .Contact-heading{
        width: 100%;
    }

    .Contact-marketo-div2{
        width: 100%;
    }

    .Contact-marketo-div5{
        display: none;
    }

    .Contact-marketo-div3{
        padding: 0;
        width: 50%;
    }

    .Contact-marketo-div4{
        padding: 0;
        width: 50%;
    }

    .Contact-marketo-div3-4{
        display: flex;
        width: 100%;
        padding-top: 37px;
    }

    .Contact-marketo-div .Contact-Question {
        padding: 0;
        padding-top: 36px;
    }
}