.Mobile-section{
    padding: 30px 41px 20px 37px;
}

.mobile-div{
   border: solid;
   border-color: silver;
   border-width: 1px;
   display: flex;
}

.mobile-Leftdivimg{
    width: 247px;
    height: 421px;
}

.middledivimg{
    width: 304px;
    height: 505px;
}

.mobile-left-div{
    position: relative;
    background-color: #0059a7 !important;
    opacity: .9;
    transition: background .3s,border-radius .3s,opacity .3s;
    height: 497px;
}

.mobile-left-text-div{
   position: absolute;
   bottom: 1rem;
   width: 247px;
   background-color: #0059a7;
    opacity: .9;
    transition: background .3s,border-radius .3s,opacity .3s;
}

.Heading-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Heading-div h4{
    font-weight: 700;
    font-size: 22px;
}

.Options-div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 21px;
}

.Options-div-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 379px;
    list-style-type: none;
}

.Options-div-listLinkss{
     text-decoration: none;
     color: white;
     font-size: 16px;
    font-weight: 500;   
}

.row1imgs{
    width: 60px;
}

.rowimgss{
    display: flex;
    align-items: center;
    justify-content: center;
}


.Womenclothing-right-div-row1{
    gap: 28px;
    width: 727px;
    padding: 36px 0px 20px 0px;
}



.Womenclothing-right-div-row2{
    gap: 20px;
    width: 727px;
    padding: 28px 0px 20px 0px;
}

.row1text-div{
    padding-top: 3px;
    
}

.row1text-div1-1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row1text-div-price{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row1text-div-price p{
    color: blue;
    font-size: small;
    font-weight: 500;   
}

@media only screen and (min-width:320px) and (max-width:767px) {
    .mobile-div{
        display: block;
        width: 100%;
    }
    .Mobile-section{
        width: 100%;
        padding: 0 6px;
       }

       .middledivimg{
        width: 100%;
       }
       
       .mobile-left-div{
        width: 100%;
      }  
      
      .mobile-Leftdivimg{
        width: 100%;
      }

      .mobile-left-text-div{
        width: 100%;
      }

      .mobile-left-text-div .Heading-div h4{
        font-size: xx-large;
    }

    .mobile-left-text-div .Heading-div{
        padding-top: 21px;
    }


}